<%- include('../partials/header') %>

    <p>
        <%= post.content %>
    </p>
    <% if (user?._id.equals(post.user)) { %>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button type="submit">&times;</button>
        </form>
        <% } %>
            <%- include('../partials/footer') %>